@import url('/sass/_reset.scss');

html {
    font-size: 17px;
    overflow-x: hidden;
    box-sizing: border-box;
}

* {
    text-decoration: none;
    color: #fff;
}

body {
    background: #191919;
    box-sizing: inherit;
    color: #fff;
    font-family: 'DM sans';
}
.wrapper {
    width: 1440px;
    margin: 0 auto;
}
.content {
    max-width: 1320px;
    margin: 0 auto;
}
.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding-bottom: 4.3rem;
    .header__nav {
        position: absolute;
        display: flex;
        justify-content: space-between;
        left: 60%;
    }
    .header__nav-link {
        padding-right: 4rem ;
        &:last-child {
            padding-right: 0;
        }
        &:hover {
            color: cadetblue;
        }
    }
}

// -------_FIRST---SECTION--------
.first__section {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding-bottom: 9rem;
    .first__section-img {
        width: 680px;
        height: 873px;
    }
    .first__section__logo-block {
        padding-left: 4rem;
        padding-top: 8rem;
        position: relative;
    }
    .stripe {
        position: absolute;
        top: 360px;
    }
    .first__section-title {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 70px;
        line-height: 88px;
        /* or 126% */

        letter-spacing: 3.2px;

        color: #FFFFFF;
        span {
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 70px;
            line-height: 88px;
            /* or 126% */
            letter-spacing: 3.2px;
            color: #FFFFFF;
        }
    }
}
.first__section__social-media {
    padding-top: 3rem;
}
.first__section__social-icons {
    padding-top: 1rem;
    img {
        padding-right: 0.2rem;
        width: 25px;
        height: 25px;
        opacity: 1;
        transition: .4s all;
        cursor: pointer;
        &:hover {
            opacity: .6;
        }
    }
}

// -------Second---SECTION--------
.second__section {
    padding-bottom: 280px;
}
.second__section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.second__section-title {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 79px;
    letter-spacing: 2.88px;
    color: #FFFFFF;

}
.section-header-btn, .btn-light {
    background: #118DA8;
    padding: .7rem;
    border-radius: 6px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    color: #FFFFFF;
}

.second__section-blocks {
}
.second__section-item {
    padding: 40px 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    width: auto;
    height: 545px;
    background: #000000;
    border-radius: 32px;
    margin-bottom: 60px;
}
.second__section-item-content {
    padding-top: 48px;
    padding-left: 53px;
}
.item-content-btn {
}
.item-content-sub {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    color: #118DA8;
    padding-bottom: 18px;
}
.item-content-title {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 70px;
    padding-bottom: 28px;
    /* or 110% */

    letter-spacing: 2.56px;

    color: #FFFFFF;
}
.item-content-descr {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    color: rgba(255, 255, 255, 0.7);
    padding-bottom: 18px;
}
.text-pad {
    margin-top: -35px;
}
.second__section-item-content-img {
    border-radius: 15px;
}
